# colors
export CLICOLOR=1
export LSCOLORS=ExFxBxDxCxegedabagacad

# path stuff
export PATH="$PATH:/usr/local/bin/"
export PATH="/usr/local/git/bin:/sw/bin/:/usr/local/bin:/usr/local/:/usr/local/sbin:/usr/local/mysql/bin:$PATH"

# default prompt
#export PS1="\h:\W \u\$"

# prompt
export PS1="\u@\h \e[1;36m\w\e[m> "

# aliases
alias ll="ls -lh"

alias awsdev="export AWS_PROFILE='dev'"
alias awsprod="export AWS_PROFILE='prod'"
alias tiqdeploy="ssh textiq@tiq-deploy-0-dev.textiq.net"
alias vim="nvim"
alias dev="cd ~/dev"
alias devpersonal="cd ~/devpersonal"

# git functions

# delete merged branches
gitbranchcleanup() {
    echo "git branch --merged | egrep -v \"(^\*|master|main|dev|develop)\" | xargs git branch -d"
    git branch --merged | egrep -v "(^\*|master|main|dev|develop)" | xargs git branch -d
}

# checkout repo and pull
gcgp() {
    echo "git checkout $1 && git pull"
    git checkout $1 && git pull
}

# push and set upstream branch name
gpsup() {
    echo "git push --set-upstream origin $(git branch --show-current)"
    git push --set-upstream origin $(git branch --show-current)
}

# git status
gs() {
    echo "git status"
    git status
}

# taken from https://gist.github.com/natelandau/10654137
alias path='echo -e ${PATH//:/\\n}'

